@model BingCC.Models.AspNetOrderProducts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have successfully placed an order!</h2>

<p>Scan a QR code below to finish your payment. We support both Wechat Pay and Alipay</p>

<img src="~/images/wechat.jpg" width="300"/>

<img src="~/images/alipay.jpg" width="300"/>

<p>
    @Html.ActionLink("Go back", "Index")
</p>
