@model BingCC.Models.AspNetCartProducts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The item has been successfully added to your cart.</h2>

<p>Please pay ASAP!</p>

<p>
    @Html.ActionLink("Go back", "Index", "AspNetProducts");
</p>


